/* 
    Document   : ecran.css
    Created on : 29 août 2011, 19:34:49
    Author     : Mickael
    Description:
        CSS du module de gestion des flux RSS.
*/

body { 
    margin:0;
    padding: 0;
    font-size: 12px;
    font-family: sans-serif;
    display: block;
    /* https://www.toptal.com/designers/subtlepatterns/doodles/ */
    background: url(doodles.png)
}
#wrapper{
    margin: 0 auto;
    width: 474px;
    background: #ffffff7a;
}
form{
    width: 464px;
    margin: 0 auto;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

.formContent{
    margin: 5px;
}
.formContent label, .formContent input, .formContent textarea{
    display: block;
    width: 440px
}

.formContent select{
    display: block;
    width: 452px
}
.formContent input[type=text], .formContent input[type=url], .formContent select, .formContent textarea{
    margin: 0;
    padding: 5px;
    border: 1px solid #777;
}

.formContent label{
    padding-top: 1em;
    line-height: 1.6em
}

.formContent input[type=submit], .formContent input[type=reset]{
    width: 452px;
    padding: 10px;
    margin: 1em auto;
}

.formContent textarea{
    height: 100px;
}